body{
    margin: 0px;
    padding: 0px;
    font-weight: 'popins', sans-serif;
    box-sizing: border-box;
    background-color: black;
}

.container{
    width: 100%;
    min-height: 100vh;
    padding: 10px auto 10px;
    margin: 10px;   
    /* background-color: seagreen;   */
    background-image: linear-gradient(45deg, rgb(242, 6, 242), rgb(159, 40, 159));
    /* background-color: linear-gradient(45deg, rgb(235, 13, 235),  violet); */
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.to-do-app{
    /* position: relative; */
    /* align-items: center; */
    /* justify-content: center; */
    position: relative;
    width: 100%;
    max-width: 560px;
    height: auto;
    /* top: 50px; */
    background-color: #ffff;
    margin: 200px 80px 40px;
    border: dashed 10px black;
    justify-content: center;
    /* padding: 40px auto 60px; */
}
ul{
    padding: 0px 30px 0px 30px;
}

.to-do-app h1{
    margin: 10px 30px;
    color: blue;
}
span{
    position: absolute;
    right: 6px;
    bottom: 5px;
    height: 35px;
    width: 40px;
    background-color: orange;
    text-align: center;
    /* top: 3px; */
    padding: 6px 0px 0px 0px;
    box-sizing: border-box;
    border-radius: 20px;
    /* line-height: 4px; */
}

input{
    border: none;
}

span:hover{
    color: #f50505;
    background-color: aliceblue;
}


.row{
    display: flex;
    flex-direction: row;
    height: 2rem;
    margin: 10px 30px;
    justify-content: space-around;
}

#input{
    flex-grow: 1;
    background: transparent;
    border: solid 1px black;
    outline: none;
    border-radius: 10px;
    font-weight: 100px;
}

.toggle{
    text-decoration: line-through;
}



button{
    border: none;
    outline: none;
    background: rgb(247, 163, 6);
    padding: 10px 20px;
    color: bisque;
    font-size: medium;
    border-radius: 40px;
    cursor: pointer;
}
ul li{
    list-style: none;
    cursor: pointer;
    user-select: none;
    font-size: 18px;
    padding: 12px 10px;
    position: relative;
    border-bottom: 2px solid yellow;   
    background-color: aliceblue;
    border-radius: 40px; 
    margin: 7px 0px 0px 0px;
}

.checkbox{
    border: none;
    height: 10px;
    width: 13px;
    border-radius: 50%;
    background-color: aqua;
}


